body {
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  background-image: url('./images/background.jpg');
  background-size: cover;
  padding: 0;
}

.login-form{
	background-color: rgba(56, 138, 195, 0.7);
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  padding: 40px;
  color: white;
}

.login-form .logo {
	width: 250px;
	margin-bottom: 20px;
}

.input-group {
	display: flex;
	margin-bottom: 10px;
	color: white;
	text-align: left;
}

.input-group input[type="text"], .input-group input[type="password"] {
	flex: 1;
	font-size: 17px;
	padding: 5px 10px;
}

.submit-button {
	padding: 20px;
}

.submit-button button {
	background-color: #f89635;
	border: none;
	border-radius: 5px;
	outline: none;
	width :100%;
	padding: 10px;
	color: white;
	font-size: 15px;
}

.submit-button button:active {
	opacity: 0.5;
}

.other-links {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.other-links .other-link {
	color: white;
	font-size: 15px;
	text-decoration: none;
}

.error-text {
	color: yellow;
	font-size: 13px;
	font-style: italic;
}